.skills-block {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid red;

  .skill-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;

    .content {
      width: 97%;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(5, 1fr);

      div {
        width: 64px;
        height: 64px;
        justify-self: center;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        border: 1px solid rgb(134, 134, 165);
      }

      .skill {
        color: white;
        background-color: white;

        .point-btn {
          position: absolute;
          display: flex;
          flex-wrap: wrap;

          div {
            display: none;
          }
        }

        .point-btn:hover {
          div {
            width: 50%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 80%;
          }
        }

        svg {
          width: 100%;
          height: 100%;
        }

        svg:hover {
          path {
            fill: #a70d0d;
          }
        }

        .counter {
          pointer-events: none;
          position: absolute;
          font-size: 80%;
        }
      }

      .skill-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        grid-column: 1 / span 5;
      }
    }
  }

  .avaliable-skills {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
