.skills-block {
  width: 45%;
  display: flex;

  justify-content: space-between;

  border: 1px solid red;

  .skill-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15%;

    .content {
      width: 97%;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(5, 1fr);

      div {
        width: 80px;
        height: 80px;
        justify-self: center;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        border: 1px solid rgb(134, 134, 165);
      }

      .disabled-skill.skill {
        transform: scale(0.7);
        outline: 5px solid black;
      }

      .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: white;

        .point-btn {
          position: absolute;
          display: flex;
          justify-content: flex-start;

          div {
            display: none;
          }
        }

        &:hover {
          .point-btn {
            flex-direction: column;
            flex-wrap: wrap;
            div {
              width: 50%;

              display: flex;
              justify-content: center;
              align-items: center;

              cursor: pointer;
              background-color: rgb(20, 21, 24);
              font-size: 90%;

              transition: all 0.5s ease;
            }

            .reset {
              width: 10px;
              height: 100%;
              padding: 0 12px;

              word-break: break-word;
              line-height: 14px;

              transform: translateX(-150%);
            }

            .remove,
            .add {
              width: 35%;
              height: 50%;
              transform: translateX(100%);
            }

            .add:hover {
              background-color: rgb(66, 204, 101);
            }

            .remove:hover {
              background-color: rgb(211, 75, 75);
            }

            .reset:hover {
              background-color: white;
              color: black;
              font-weight: 700;
            }
          }
        }

        svg {
          width: 100%;
          height: 100%;
        }

        .combat:hover {
          path {
            fill: #a70d0d;
          }
        }

        .combat-activated {
          path {
            fill: #a70d0d;
          }
        }

        .signs:hover {
          path {
            fill: rgb(11, 100, 167);
          }
        }

        .signs-activated {
          path {
            fill: rgb(11, 100, 167);
          }
        }

        .alchemy:hover {
          path {
            fill: rgb(6, 53, 19);
          }
        }

        .alchemy-activated {
          path {
            fill: rgb(6, 53, 19);
          }
        }

        .general:hover {
          path {
            fill: rgb(165, 103, 19);
          }
        }

        .general-activated {
          path {
            fill: rgb(165, 103, 19);
          }
        }

        .mutagens:hover {
          path {
            fill: rgb(30, 200, 206);
          }
        }

        .mutagens-activated {
          path {
            fill: rgb(30, 200, 206);
          }
        }

        .counter {
          pointer-events: none;
          position: absolute;
          font-size: 100%;
        }
      }

      .skill-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        grid-column: 1 / span 5;
      }
    }
  }

  .avaliable-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    padding: 3% 0;
    border: 1px solid rgb(134, 134, 165);

    text-transform: uppercase;
  }
}
