@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "PTN57";
  // адрес шрифта и тип
  src: url("./PTN57F.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// @font-face {
//   // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
//   font-family: "PTC55";
//   // адрес шрифта и тип
//   src: url("./PTC55F.ttf") format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face {
//   // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
//   font-family: "PTC75";
//   // адрес шрифта и тип
//   src: url("./PTC75F.ttf") format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face {
//   // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
//   font-family: "PTN57";
//   // адрес шрифта и тип
//   src: url("./PTN57F.ttf") format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }

// @font-face {
//   // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
//   font-family: "PTS75";
//   // адрес шрифта и тип
//   src: url("./PTS75F.ttf") format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }
