@import "./libs/normalize";
@import "./components/all";
@import "./fonts/fonts";

.app {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;

  border: 1px solid black;

  div,
  span {
    font-family: "PTN57";
  }
}
